:root {
	--new-color: light-dark(#50c878, #50c878);
}

.new { color: var(--new-color); }

#spinner-box {
	background-color: var(--background-color-secondary);
	padding-bottom: 3%;
}
#spinner {
	border: 7px solid var(--button-color);
	border-top: 7px solid var(--foreground-color);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1.5s infinite;
	box-shadow: 0 0 15px var(--background-color-primary),
                0 0 15px inset var(--background-color-primary);
	margin: 0 auto;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

ruby > rt { display: var(--furigana-display, revert); }
#show-furigana { display: var(--furigana-show-button, initial); }
#hide-furigana { display: var(--furigana-hide-button, initial); }

/* TODO: if i add more languages, this will need to be added to */
@media screen and (min-width: 600px) {
	.main {
		grid-row: 1;
		grid-column: 1 / 3;
	}
}
@media screen and (max-width: 600px) {
	.main {
		grid-row: 1;
		grid-column: 1;
	}
}
