:root {
	color-scheme: dark;
	--foreground-color: #eee;
	--background-color-primary: #161a1c;
	--background-color-secondary: #242e33;
	--background-color-code: #303030;
	--button-color: #555;
	--button-glow-color: #597180;
	--new-color: #50C878;
}

html::before {
	content: "";
	background-color: var(--background-color-primary);
	width: 100%;
	height: 100%;
	top: 50%;
	position: fixed;
	z-index: -1;
}

body {
	background-color: var(--background-color-secondary);
	color: var(--foreground-color);
	font-family: ui-rounded, system-ui, sans-serif;
	font-size: large;
	margin: 0;
}

h2 { margin-top: 0; }

.title {
	font-size: xx-large;
	margin-bottom: 0;
}

a { color: deepskyblue; }

ul {
	display: inline-block;
	text-align: left;
	margin-top: 0;
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 5px;
	border-style: none;
	transition: box-shadow 0.2s;
}
button:hover { box-shadow: 0 0 10px var(--button-glow-color); }
button:active { background-color: var(--background-color-secondary); }

pre {
	background-color: var(--background-color-code);
	padding: .5em;
	border-radius: .5em;
	tab-size: 4;
}

.inline-code {
	display: inline-block;
	background-color: var(--background-color-code);
	padding: 0 .25em;
	border-radius: .25em;
}

.highlighted {
	border: solid deepskyblue 1.5px;
	border-radius: .25em;
	background-color: #202020;
	padding: 0 .1em;
	display: inline-block;
}

blockquote {
	background-color: black;
	padding: 1em;
	border-left: solid deepskyblue .25em;
	margin: 0;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 75%;
}

sup > a {
	text-decoration: none;
}

.inline { display: inline; }

.hidden { display: none; }

.secret-link {
	color: currentColor;
	text-decoration: none;
}

#parent {
	background-color: var(--background-color-secondary);
	display: grid;
	gap: 10px;
	padding: 3% 7%;
}

.block {
	background-color: var(--background-color-primary);
	text-align: center;
	border-radius: 25px;
	padding: 1em;
	position: relative;
	box-shadow: 0 0 15px var(--background-color-primary);
}

.link-icon {
	transition: 0.2s;
	position: absolute;
}
.link-icon:hover { filter: brightness(85%); }

.language-label {
	display: inline-block;
	padding: 5px 10px;
	border: solid 1px;
	border-radius: 10px;
	text-decoration: none;
	margin: 2px;
}

footer {
	position: sticky;
	top: 50%;
	background-color: var(--background-color-primary);
	text-align: center;
	padding: 5px;
	margin: 0;
	box-shadow: 0 0 15px var(--background-color-primary);
}
