:root {
	color-scheme: dark;
	--foreground-color: #eee;
	--background-color-primary: #161a1c;
	--background-color-secondary: #242e33;
	--button-color: #555;
	--button-glow-color: #597180;
	--new-color: #50C878;
}

html::before {
	content: "";
	background-color: var(--background-color-primary);
	width: 100%;
	height: 100%;
	top: 50%;
	position: fixed;
	z-index: -1;
}

body {
	background-color: var(--background-color-secondary);
	color: var(--foreground-color);
	font-family: system-ui, sans-serif;
	font-size: large;
	margin: 0;
}

h2 { margin-top: 0; }

.title { font-size: xx-large; }

a { color: deepskyblue; }

ul {
	display: inline-block;
	text-align: left;
	margin-top: 0;
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 5px;
	border-style: none;
	transition: box-shadow 0.2s;
}
button:hover { box-shadow: 0 0 10px var(--button-glow-color); }
button:active { background-color: var(--background-color-secondary); }

.inline { display: inline; }

.hidden { display: none; }

.secret-link {
	color: currentColor;
	text-decoration: none;
	cursor: text;
}

#parent {
	background-color: var(--background-color-secondary);
	display: grid;
	gap: 10px;
	padding: 3% 7% 3%;
}

.block {
	background-color: var(--background-color-primary);
	text-align: center;
	border-radius: 25px;
	padding: 1em;
	position: relative;
	box-shadow: 0 0 15px var(--background-color-primary);
}

.language-label {
	display: inline-block;
	padding: 5px 10px 5px;
	border: solid 1px;
	border-radius: 10px;
	text-decoration: none;
	margin: 2px;
}

footer {
	background-color: var(--background-color-primary);
	text-align: center;
	padding: 5px;
	margin: 0;
	box-shadow: 0 0 15px var(--background-color-primary);
}
