:root {
	color-scheme: light dark;
	--foreground-color: light-dark(black, #eee);
	--background-color-primary: light-dark(white, #161a1c);
	--background-color-secondary: light-dark(lightgrey, #242e33);
	--background-color-code: light-dark(grey, #303030);
	
	--button-color: light-dark(#aaa, #555);
	--button-glow-color: light-dark(none, #597180);
	--link-color: light-dark(deepskyblue, deepskyblue);
	--highlight-border-color: light-dark(deepskyblue, deepskyblue);
	--highlight-background-color: light-dark(grey, #202020);
	--quote-border-color: light-dark(deepskyblue, deepskyblue);
	--quote-background-color: light-dark(grey, black);
	
	--icon-link-width: 32px;
	--icon-link-height: var(--icon-link-width);
	--icon-link-spacing: 1em;
	
	--block-shadow-radius: light-dark(0, 15px);
	--language-label-shadow-radius: light-dark(0, 5px);
	--language-label-shadow-color: grey;
}

/* some dummy code so noir can tell there's a dark mode */
@media (prefers-color-scheme: dark) {
	:root { --never-used: 0; }
}

html::before {
	content: "";
	background-color: var(--background-color-primary);
	width: 100%;
	height: 100%;
	top: 50%;
	position: fixed;
	z-index: -1;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color-secondary);
	color: var(--foreground-color);
	font-family: ui-rounded, system-ui, sans-serif;
	font-size: large;
	margin: 0;
}

a { color: var(--link-color); }

ul {
	display: inline-block;
	text-align: left;
	margin: 0;
	overflow-wrap: anywhere;
}

li { list-style-type: initial; }

li > p { margin: auto; }

#footnotes > li > p { margin: revert; }

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 5px;
	border-style: none;
	transition: box-shadow 0.2s;
}
button:hover { box-shadow: 0 0 10px var(--button-glow-color); }
button:active { background-color: var(--background-color-secondary); }

pre {
	background-color: var(--background-color-code);
	padding: .5em;
	border-radius: .5em;
	tab-size: 4;
	overflow-x: scroll;
}

code {
	font-family: ui-monospace, monospace;
}

.inline-code {
	display: inline-block;
	background-color: var(--background-color-code);
	padding: 0 .25em;
	border-radius: .25em;
}

.highlighted {
	border: solid var(--highlight-border-color) 1.5px;
	border-radius: .25em;
	background-color: var(--highlight-background-color);
	padding: 0 .1em;
}

pre > code > .highlighted {
	display: inline-block;
}

blockquote {
	background-color: var(--quote-background-color);
	padding: 1em;
	border-left: solid var(--quote-border-color) .25em;
	margin: 0;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 75%;
}

sup > a {
	text-decoration: none;
}

.footnote-return-link {
	text-decoration: none;
}

.inline { display: inline; }

.hidden { display: none; }

.secret-link {
	color: currentColor;
	text-decoration: none;
}

#parent {
	background-color: var(--background-color-secondary);
	display: grid;
	gap: 10px;
	padding: 3% 7%;
}

.block {
	background-color: var(--background-color-primary);
	text-align: center;
	border-radius: 25px;
	padding: 1em;
	position: relative;
	box-shadow: 0 0 var(--block-shadow-radius) var(--background-color-primary);
}

.block > *:first-child {
	margin-top: 0;
}

.block > h1:first-of-type {
	margin-top: 0;
}

.block > h2:first-of-type {
	margin-top: 0;
}

.block > *:last-child {
	margin-bottom: 0;
}

.icon-link {
	display: flex;
	flex-direction: column;
	gap: var(--icon-link-spacing);
}

.icon-link a {
	text-decoration: none;
}

.icon-link img {
	width: var(--icon-link-width);
	height: var(--icon-link-height);
	object-fit: contain;
	transition: 0.2s;
}
.icon-link img:hover { filter: opacity(85%); }

@media (prefers-color-scheme: light) {
	.icon-link img { filter: invert(); }
	.icon-link img:hover { filter: opacity(75%) invert(); }
}

.icon-link.left {
	float: left;
	clear: left;
	margin-right: var(--icon-link-spacing);
}

.icon-link.right {
	float: right;
	clear: right;
	margin-left: var(--icon-link-spacing);
}

.language-label {
	display: inline-block;
	padding: 5px 10px;
	border: solid 1px;
	border-radius: 10px;
	text-decoration: none;
	margin: 2px;
	box-shadow: 0 0 var(--language-label-shadow-radius) var(--language-label-shadow-color);
}

footer {
	position: sticky;
	top: 50%;
	background-color: var(--background-color-primary);
	text-align: center;
	padding: 5px;
	margin: 0;
	box-shadow: 0 0 var(--block-shadow-radius) var(--background-color-primary);
}
