:root {
	--repo-border-color: light-dark(grey, grey);
}

/* MARK: blocks */

@media screen and (width <= 900px) {
	.main {
		grid-row: 1;
		grid-column: 1;
	}
	.projects {
		grid-row: 2;
		grid-column: 1;
	}
	.technical-skills {
		grid-row: 3;
		grid-column: 1;
	}
}
@media screen and (width >= 900px) {
	.main {
		grid-row: 1;
		grid-column: 1;
	}
	.technical-skills {
		grid-row: 1 / 3;
		grid-column: 2;
	}
	.projects {
		grid-row: 2;
		grid-column: 1;
	}
}

/* MARK: main */

.main p {
	text-align: start;
}

/* MARK: projects */

.repos {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 0.5rem;
}
.repo {
	border: solid 1px var(--repo-border-color);
	border-radius: 7px;
	text-align: left;
	padding: 10px;
}

@media screen and (width <= 500px) {
	.repos {
		grid-template-columns: auto;
	}
}

.repo-link {
	text-decoration: none;
	display: inline;
}
.repo-link p {
	margin: 0;
}
.mage-logo {
	float:left;
	width: 1lh;
	height: 1lh;
	object-fit: contain;
	border-radius: 25%;
	margin-right: 0.5rem;
}
.github-logo {
	float:left;
	width: 1lh;
	height: 1lh;
	object-fit: contain;
	margin-right: 0.5rem;
}

/* @media (prefers-color-scheme: light) { */
/* 	.github-logo { filter: invert(); } */
/* } */

/* MARK: technical skills */

.ARM-assembly { color: #0091bd; }
.audacity { color: #ff6e00; }
.autohotkey { color: #3f7725; }
.bash { color: #3c474a; }
.bbedit { color: #7970c0; }
.blender { color: #fb6d00; }
.cpp { color: rgb(0, 68, 136); }
.cmd { color: #ffffff; }
.css { color: #0067fa; }
.discord { color: #5865f2; }
.docs { color: #4285f4; }
.duckyscript { color: #ffed00; }
.excel { color: rgb(122, 255, 182); }
.ffmpeg { color: #1ca245; }
.foundation { color: #6495ed; }
.gdscript { color: #478cbf; }
.genius { color: #ffff64; }
.gimp { color: #605b51; }
.git { color: #ff3f1e; }
.glsl { color: #478cbf; }
.godot { color: #478cbf; }
.haskell { color: #9e358f; }
.heroku { color: #7673c0; }
.html { color: #f06529; }
.java { color: #ed8b00; }
.javascript { color: #f7df1e; }
.keynote { color: #1e98f7; }
.latex { color: #008281; }
.linux { color: #febc00; }
.lua { color: #0000ff; }
.macos { color: #00d2ff; }
.metal { color: #d74e57; }
.numbeRS { color: #00f12d; }
.obsidian { color: #7f6df2; }
.paint-net { color: #8fb6f6; }
.pages { color: #f1ab47; }
.postgres { color: #699eca; }
.powerpoint { color: #f46641; }
.python { color: #ffde57; }
.rainmeter { color: #007bff; }
.regex { color: #7ec1f2; }
.rest { color: #7180af; }
.rust { color: #f46623; }
.selenium { color: #7bc769; }
.sheets { color: #0f9d58; }
.shortcuts { color: #ff57d3; }
.slides { color: #f4b400; }
.spotify { color: #1db954; }
.swift { color: #f05138; }
.swiftui { color: #00daff; }
.tkinter { color: #127ab3; }
.trakt { color: #da3b32; }
.typescript { color: #358ef1; }
.vapor { color: #e040fb; }
.visual-basic { color: #00619c; }
.vlc { color: #f48b00; }
.wget { color: #00ff00; }
.windows { color: #00b1f4; }
.wireshark { color: #0064a7; }
.word { color: #5baefb; }
.xcode { color: #00b9f5; }
