body {
	text-align: center;
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	text-decoration: none;
	color: var(--foreground-color);
	user-select: none;
	-webkit-user-select: none;
	
	&:hover {
		opacity: 75%;
	}
	
	img {
		width: var(--icon-link-width);
		height: var(--icon-link-height);
		
		@media (prefers-color-scheme: light) {
			filter: invert();
		}
	}
	
	h3 {
		display: inline;
		margin: 0;
	}
}
