:root {
	--background-color-code: light-dark(#f0f0f0, #303030);
	--background-color-terminal: #282a36;
	
	--foreign-value-color: light-dark(#6c36a9, #a167e6);
	--local-value-color: light-dark(#326d74, #67b7a4);
	--value-declaration-color: light-dark(#0f68a0, #41a1c0);
	
	--foreign-type-color: light-dark(#3900a0, #d0a8ff);
	--local-type-color: light-dark(#1c464a, #9ef1dd);
	--type-declaration-color: light-dark(#0b4f79, #5dd8ff);
	
	--preprocessor-directive: light-dark(#643820, #fd8f3f);
	--comment: light-dark(#5d6c79, #6c7986);
	--keyword: light-dark(#9b2393, #fc5fa3);
	--mark: light-dark(#4a5560, #92a1b1);
	
	--number: light-dark(#1c00cf, #d0bf69);
	--string: light-dark(#c41a16, #fc6a5d);
	
	/* oh god, apparently "Dynamic foreground colors" changes these sometimes */
	/* --terminal-grey: light-dark(green, #44475a); /* TODO: light mode color */
	--terminal-grey: light-dark(#a0a0a0, #bfbfbf);
	--terminal-red: light-dark(#ac422e, #ff5555);
	--terminal-light-red: light-dark(green, #ff6e67); /* TODO: light mode color */
	--terminal-green: light-dark(#54ad45, #50fa7b);
	--terminal-light-green: light-dark(green, #5af78e); /* TODO: light mode color */
	--terminal-yellow: light-dark(#d17e3b, #f1fa8c);
	--terminal-light-yellow: light-dark(green, #f1fa8c); /* TODO: light mode color */
	--terminal-blue: light-dark(#074cb2, #bd93f9);
	--terminal-light-blue: light-dark(green, #caa9fa); /* TODO: light mode color */
	--terminal-pink: light-dark(#ab3172, #ff79c9);
	--terminal-light-pink: light-dark(green, #ff92d0); /* TODO: light mode color */
	--terminal-cyan: light-dark(#0773b2, #8be9fd);
	--terminal-light-cyan: light-dark(green, #9aedfe); /* TODO: light mode color */
	--terminal-bold: light-dark(green, #6b75ff); /* TODO: light mode color */
	
	--byte-address: light-dark(#8abbc3, #8abbc3);
	--byte-ASCII-non-graphic: light-dark(#54ad45, #50fa7b);
	--byte-non-ASCII: light-dark(#bbb31e, #f1fa8c);
	--byte-00: light-dark(#808080, #a0a0a0);
	--byte-0:  light-dark(oklch(67% 0.18 360), oklch(75% 0.18 360));
	--byte-1:  light-dark(oklch(67% 0.18 23), oklch(75% 0.18 23));
	--byte-2:  light-dark(oklch(67% 0.18 50), oklch(75% 0.18 50));
	--byte-3:  light-dark(oklch(67% 0.18 65), oklch(75% 0.18 65));
	--byte-4:  light-dark(oklch(67% 0.18 77), oklch(75% 0.18 77));
	--byte-5:  light-dark(oklch(67% 0.18 103), oklch(75% 0.18 103));
	--byte-6:  light-dark(oklch(67% 0.18 130), oklch(75% 0.18 130));
	--byte-7:  light-dark(oklch(67% 0.18 142), oklch(75% 0.18 142));
	--byte-8:  light-dark(oklch(67% 0.18 150), oklch(75% 0.18 150));
	--byte-9:  light-dark(oklch(67% 0.18 163), oklch(75% 0.18 163));
	--byte-A:  light-dark(oklch(67% 0.18 184), oklch(75% 0.18 184));
	--byte-B:  light-dark(oklch(67% 0.18 209), oklch(75% 0.18 209));
	--byte-C:  light-dark(oklch(67% 0.18 232), oklch(75% 0.18 232));
	--byte-D:  light-dark(oklch(67% 0.18 254), oklch(75% 0.18 254));
	--byte-E:  light-dark(oklch(67% 0.18 294), oklch(75% 0.18 294));
	--byte-F:  light-dark(oklch(67% 0.18 328), oklch(75% 0.18 328));
	--byte-FF: light-dark(black, white);
}

pre {
	background-color: var(--background-color-code);
	padding: 0.5em;
	border-radius: 0.5em;
	tab-size: 4;
	overflow-x: scroll;
	
	&:has(samp) {
		background-color: var(--background-color-terminal);
	}
	
	& > code > mark {
		display: inline-block;
	}
}

samp, code {
	font-family: ui-monospace, monospace;
	-webkit-text-size-adjust: 100%; /* some weird bugs were happening with iOS safari resizing some code larger than others */
}

code:not(pre code) {
	display: inline-block;
	background-color: var(--background-color-code);
	padding: 0 .25em;
	border-radius: .25em;
}

/* rogue generates code with a figure around it */
figure {
	margin: 0;
}

foreign-value { color: var(--foreign-value-color) }
local-value { color: var(--local-value-color); }
value-declaration { color: var(--value-declaration-color); }

foreign-type { color: var(--foreign-type-color); }
local-type { color: var(--local-type-color); }
type-declaration { color: var(--type-declaration-color); }

preprocessor-directive { color: var(--preprocessor-directive); }

code-comment { color: var(--comment); }

code-documentation {
	color: var(--comment);
	font-family: ui-rounded, system-ui, sans-serif;
}

code-keyword {
	color: var(--keyword);
	font-weight: bold;
}

code-mark {
	color: var(--mark);
	font-weight: bold;
}

code-number { color: var(--number); }
code-string { color: var(--string); }

terminal-grey         { color: var(--terminal-grey);         }
terminal-light-grey   { color: var(--terminal-light-grey);   }
terminal-red          { color: var(--terminal-red);          }
terminal-light-red    { color: var(--terminal-light-red);    }
terminal-green        { color: var(--terminal-green);        }
terminal-light-green  { color: var(--terminal-light-green);  }
terminal-yellow       { color: var(--terminal-yellow);       }
terminal-light-yellow { color: var(--terminal-light-yellow); }
terminal-blue         { color: var(--terminal-blue);         }
terminal-light-blue   { color: var(--terminal-light-blue);   }
terminal-pink         { color: var(--terminal-pink);         }
terminal-light-pink   { color: var(--terminal-light-pink);   }
terminal-cyan         { color: var(--terminal-cyan);         }
terminal-light-cyan   { color: var(--terminal-light-cyan);   }
terminal-bold         { color: var(--terminal-bold);         }

/* to allow easy nesting */
foreign-value, local-value, value-declaration, foreign-type, local-type, type-declaration, preprocessor-directive, code-comment, code-documentation, code-number, code-string, terminal-grey, terminal-blue, terminal-red, terminal-green, terminal-yellow, terminal-purple, terminal-pink, terminal-cyan {
	font-weight: normal;
}

byte-address, .c-byte-address { color: var(--byte-address); }
byte-ASCII, .c-byte-ASCII { color: var(--string); }
byte-ASCII-non-graphic, .c-byte-ASCII-non-graphic { color: var(--byte-ASCII-non-graphic); }
byte-non-ASCII, .c-byte-non-ASCII { color: var(--byte-non-ASCII); }
byte-00, .c-byte-00 { color: var(--byte-00); }
byte-0, .c-byte-0 { color: var(--byte-0); }
byte-1, .c-byte-1 { color: var(--byte-1); }
byte-2, .c-byte-2 { color: var(--byte-2); }
byte-3, .c-byte-3 { color: var(--byte-3); }
byte-4, .c-byte-4 { color: var(--byte-4); }
byte-5, .c-byte-5 { color: var(--byte-5); }
byte-6, .c-byte-6 { color: var(--byte-6); }
byte-7, .c-byte-7 { color: var(--byte-7); }
byte-8, .c-byte-8 { color: var(--byte-8); }
byte-9, .c-byte-9 { color: var(--byte-9); }
byte-A, .c-byte-A { color: var(--byte-A); }
byte-B, .c-byte-B { color: var(--byte-B); }
byte-C, .c-byte-C { color: var(--byte-C); }
byte-D, .c-byte-D { color: var(--byte-D); }
byte-E, .c-byte-E { color: var(--byte-E); }
byte-F, .c-byte-F { color: var(--byte-F); }
byte-FF, .c-byte-FF { color: var(--byte-FF); }
