pre {
	background-color: var(--background-color-code);
	padding: 0.5em;
	border-radius: 0.5em;
	tab-size: 4;
	overflow-x: scroll;
	
	&:has(samp) {
		background-color: var(--background-color-terminal);
	}
	
	& > code > mark {
		display: inline-block;
	}
}

samp, code {
	font-family: ui-monospace, monospace;
	-webkit-text-size-adjust: 100%; /* some weird bugs were happening with iOS safari resizing some code larger than others */
}

code:not(pre code) {
	display: inline-block;
	background-color: var(--background-color-code);
	padding: 0 .25em;
	border-radius: .25em;
}

/* rogue generates code with a figure around it */
figure {
	margin: 0;
}

foreign-value, .nb, .bp { color: var(--foreign-value-color) }
local-value { color: var(--local-value-color); }
value-declaration, .n, .nx, .nf { color: var(--value-declaration-color); }

foreign-type { color: var(--foreign-type-color); }
local-type { color: var(--local-type-color); }
type-declaration { color: var(--type-declaration-color); }

preprocessor-directive { color: var(--preprocessor-directive); }

code-comment, .c, .cm, .sd { color: var(--comment); }

code-documentation {
	color: var(--comment);
	font-family: ui-rounded, system-ui, sans-serif;
}

code-keyword, .k, .kc, .kd, .kn, .kp, .kr, .kt, .nl {
	color: var(--keyword);
	font-weight: bold;
}

code-mark {
	color: var(--mark);
	font-weight: bold;
}

code-number, .m { color: var(--number); }
code-string, .s, .sb, .sc, .s2, .sh, .sx, .sr, .s1, .ss, .sa { color: var(--string); }

terminal-grey         { color: var(--terminal-grey);         }
terminal-light-grey   { color: var(--terminal-light-grey);   }
terminal-red          { color: var(--terminal-red);          }
terminal-light-red    { color: var(--terminal-light-red);    }
terminal-green        { color: var(--terminal-green);        }
terminal-light-green  { color: var(--terminal-light-green);  }
terminal-yellow       { color: var(--terminal-yellow);       }
terminal-light-yellow { color: var(--terminal-light-yellow); }
terminal-blue         { color: var(--terminal-blue);         }
terminal-light-blue   { color: var(--terminal-light-blue);   }
terminal-pink         { color: var(--terminal-pink);         }
terminal-light-pink   { color: var(--terminal-light-pink);   }
terminal-cyan         { color: var(--terminal-cyan);         }
terminal-light-cyan   { color: var(--terminal-light-cyan);   }
terminal-bold         { color: var(--terminal-bold);         }

byte-address, .c-byte-address { color: var(--byte-address); }
byte-ASCII, .c-byte-ASCII { color: var(--string); }
byte-ASCII-non-graphic, .c-byte-ASCII-non-graphic { color: var(--byte-ASCII-non-graphic); }
byte-non-ASCII, .c-byte-non-ASCII { color: var(--byte-non-ASCII); }
byte-00, .c-byte-00 { color: var(--byte-00); }
byte-0, .c-byte-0 { color: var(--byte-0); }
byte-1, .c-byte-1 { color: var(--byte-1); }
byte-2, .c-byte-2 { color: var(--byte-2); }
byte-3, .c-byte-3 { color: var(--byte-3); }
byte-4, .c-byte-4 { color: var(--byte-4); }
byte-5, .c-byte-5 { color: var(--byte-5); }
byte-6, .c-byte-6 { color: var(--byte-6); }
byte-7, .c-byte-7 { color: var(--byte-7); }
byte-8, .c-byte-8 { color: var(--byte-8); }
byte-9, .c-byte-9 { color: var(--byte-9); }
byte-A, .c-byte-A { color: var(--byte-A); }
byte-B, .c-byte-B { color: var(--byte-B); }
byte-C, .c-byte-C { color: var(--byte-C); }
byte-D, .c-byte-D { color: var(--byte-D); }
byte-E, .c-byte-E { color: var(--byte-E); }
byte-F, .c-byte-F { color: var(--byte-F); }
byte-FF, .c-byte-FF { color: var(--byte-FF); }

/* to allow easy nesting */
foreign-value, local-value, value-declaration, foreign-type, local-type, type-declaration, preprocessor-directive, code-comment, code-documentation, code-number, code-string, terminal-grey, terminal-blue, terminal-red, terminal-green, terminal-yellow, terminal-purple, terminal-pink, terminal-cyan {
	font-weight: normal;
}
