:root {
	color-scheme: light dark;
	--foreground-color: light-dark(black, #eee);
	--secondary-color: light-dark(grey, #bbb);
	
	--background-color: light-dark(#fefefe, #161a1c);
	--background-color-code: light-dark(#e0e0e0, #303030);
	--background-color-terminal: #282a36;
	
	--button-color: light-dark(silver, #555);
	--button-pressed-color: light-dark(lightgrey, #242e33);
	
	--link-color: light-dark(dodgerblue, deepskyblue);
	
	--highlight-border-color: light-dark(deepskyblue, deepskyblue);
	--highlight-background-color: light-dark(grey, #202020);
	
	--quote-border-color: light-dark(deepskyblue, deepskyblue);
	--quote-background-color: light-dark(#eee, black);
	
	--icon-link-width: 32px;
	--icon-link-height: var(--icon-link-width);
	--icon-link-spacing: 1rem;
	
	--language-label-shadow-radius: 3px;
	--language-label-shadow-color: lightgrey;
	
	--table-border-color: light-dark(#a0a0a0, #a0a0a0);
	--table-header-background-color: light-dark(#e0e0e0, #303030);
	
	--foreign-value-color: light-dark(#6c36a9, #a167e6);
	--local-value-color: light-dark(#326d74, #67b7a4);
	--value-declaration-color: light-dark(#0f68a0, #41a1c0);
	
	--foreign-type-color: light-dark(#3900a0, #d0a8ff);
	--local-type-color: light-dark(#1c464a, #9ef1dd);
	--type-declaration-color: light-dark(#0b4f79, #5dd8ff);
	
	--preprocessor-directive: light-dark(#643820, #fd8f3f);
	--comment: light-dark(#5d6c79, #6c7986);
	--keyword: light-dark(#9b2393, #fc5fa3);
	--mark: light-dark(#4a5560, #92a1b1);
	
	--number: light-dark(#1c00cf, #d0bf69);
	--string: light-dark(#c41a16, #fc6a5d);
	
	--terminal-grey: light-dark(#a0a0a0, #bfbfbf);
	--terminal-blue: light-dark(#074cb2, #bd93f9);
	--terminal-red: light-dark(#ac422e, #ff6e67);
	--terminal-green: light-dark(#1f7d08, #5af78e);
	--terminal-yellow: light-dark(#a95906, #f1fa8c);
	--terminal-purple: light-dark(#6350cc, #caa9fa);
	--terminal-pink: light-dark(#ab3172, #ff92d0);
	--terminal-cyan: light-dark(#0773b2, #9aedfe);
}

/* some dummy code so noir can tell there's a dark mode */
@media (prefers-color-scheme: dark) {
	:root { --never-used: 0; }
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: ui-rounded, system-ui, sans-serif;
	margin: auto;
	max-width: min(100vw - 2rem, 90rch);
}

hgroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	* {
		margin-top: 0;
		margin-bottom: 0;
	}
}

img {
	width: 100%;
}

.ds-screenshot {
	max-width: 384px; /* 1.5x the size of the DS screen (256x192) */
	aspect-ratio: 4 / 3;
}

a {
	color: var(--link-color);
	text-decoration: underline; /* for links without hrefs */
	
	&:not(:any-link) {
		cursor: not-allowed;
		opacity: 0.6;
	}
	
	&:not(:any-link):active {
		pointer-events: none;
	}
	
	&.secret {
		color: currentColor;
		text-decoration: none;
	}
}

mark {
	color: var(--foreground-color);
	border: solid var(--highlight-border-color) 1.5px;
	border-radius: .25em;
	background-color: var(--highlight-background-color);
	padding: 0 .1em;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 75%;
	
	& > a {
		text-decoration: none;
	}
}

.secondary {
	color: var(--secondary-color);
}

.bold {
	font-weight: bold;
}

.text-align-start {
	text-align: start;
}

summary {
	cursor: pointer;
}

ul {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	list-style-type: initial; /* every level of indentation should be the same */
	
	ul {
		padding-inline-start: 1.25em;
	}
	
	*:not(:last-child) {
		margin-bottom: 0.25em;
	}
}

blockquote {
	background-color: var(--quote-background-color);
	padding: 1em;
	border-left: solid var(--quote-border-color) .25em;
	margin: 0;
	
	& > *:first-child {
		margin-top: 0;
	}
	
	& > *:last-child {
		margin-bottom: 0;
	}
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 5px;
	border-style: none;
	transition: box-shadow 0.2s;
	
	&:active {
		background-color: var(--button-pressed-color);
	}
}

.icon-links {
	display: flex;
	gap: var(--icon-link-spacing);
	float: right;
	margin-left: var(--icon-link-spacing);
	
	a {
		text-decoration: none;
	}
	
	img {
		width: var(--icon-link-width);
		height: var(--icon-link-height);
		margin-top: 0.25em;
		object-fit: contain;
		transition-property: opacity;
		transition-duration: 0.2s;
		
		/* TODO: use multiple sources instead? */
		@media (prefers-color-scheme: light) {
			filter: invert();
		}
		
		&:hover {
			filter: opacity(85%);
			
			/* TODO: use multiple sources instead? */
			@media (prefers-color-scheme: light) {
				filter: opacity(75%) invert();
			}
		}
	}
}

footer {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

{% include code.css %}
{% include tables.css %}
{% include footnotes.css %}
