:root {
	color-scheme: light dark;
	--foreground-color: light-dark(black, #eee);
	--secondary-color: light-dark(grey, #bbb);
	
	--background-color: light-dark(#fefefe, #161a1c);
	--background-color-code: light-dark(grey, #303030);
	--background-color-terminal: #282a36;
	
	--button-color: light-dark(silver, #555);
	--button-pressed-color: light-dark(lightgrey, #242e33);
	
	--link-color: light-dark(dodgerblue, deepskyblue);
	
	--highlight-border-color: light-dark(deepskyblue, deepskyblue);
	--highlight-background-color: light-dark(grey, #202020);
	
	--quote-border-color: light-dark(deepskyblue, deepskyblue);
	--quote-background-color: light-dark(#eee, black);
	
	--icon-link-width: 32px;
	--icon-link-height: var(--icon-link-width);
	--icon-link-spacing: 1rem;
	
	--language-label-shadow-radius: 3px;
	--language-label-shadow-color: lightgrey;
	
	--table-border-color: #a0a0a0;
	--table-header-background-color: light-dark(#e0e0e0, #303030);
	
	--terminal-grey: #bfbfbf;
	--terminal-blue: #bd93f9;
	--terminal-red: #ff6e67;
	--terminal-green: #5af78e;
	--terminal-yellow: #f1fa8c;
	--terminal-purple: #caa9fa;
	--terminal-pink: #ff92d0;
	--terminal-cyan: #9aedfe;
}

/* some dummy code so noir can tell there's a dark mode */
@media (prefers-color-scheme: dark) {
	:root { --never-used: 0; }
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: ui-rounded, system-ui, sans-serif;
	margin: auto;
	max-width: min(100vw - 2rem, 90rch);
}

hgroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

hgroup > * {
	margin-top: 0;
	margin-bottom: 0;
}

.secondary {
	color: var(--secondary-color);
}

a {
	color: var(--link-color);
	text-decoration: underline; /* for links without hrefs */
}

.footnote-link {
	scroll-margin-top: 30vh;
}

#footnotes > li {
	scroll-margin-top: 5vh;
}

a:not(:any-link) {
	cursor: not-allowed;
	opacity: 0.6;
}

a:not(:any-link):active {
	pointer-events: none;
}

ul {
	display: inline-block;
	text-align: left;
	margin: 0;
	overflow-wrap: anywhere;
	list-style-type: initial; /* every level of indentation should be the same */
}

ul ul {
	padding-inline-start: 1.25em;
}

ul > li:not(:last-child) {
	margin-bottom: 0.25em;
}

/* TODO: why are paragraphs in lists??? this should be removed right? */
li > p {
	margin: auto;
}

#footnotes > li > p {
	margin: revert;
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 5px;
	border-style: none;
	transition: box-shadow 0.2s;
}

button:active {
	background-color: var(--button-pressed-color);
}

pre {
	background-color: var(--background-color-code);
	padding: .5em;
	border-radius: .5em;
	tab-size: 4;
	overflow-x: scroll;
}

pre:has(samp) {
	background-color: var(--background-color-terminal);
}

samp, code {
	font-family: ui-monospace, monospace;
}

code:not(pre code) {
	display: inline-block;
	background-color: var(--background-color-code);
	padding: 0 .25em;
	border-radius: .25em;
}

mark {
	color: var(--foreground-color);
	border: solid var(--highlight-border-color) 1.5px;
	border-radius: .25em;
	background-color: var(--highlight-background-color);
	padding: 0 .1em;
}

pre > code > mark {
	display: inline-block;
}

blockquote {
	background-color: var(--quote-background-color);
	padding: 1em;
	border-left: solid var(--quote-border-color) .25em;
	margin: 0;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 75%;
}

sup > a {
	text-decoration: none;
}

.footnote-return-link {
	text-decoration: none;
}

.inline { display: inline; }

.hidden { display: none; }

.secret-link {
	color: currentColor;
	text-decoration: none;
}

.icon-links {
	display: flex;
	gap: var(--icon-link-spacing);
	float: right;
	margin-left: var(--icon-link-spacing);
}

.icon-links a {
	text-decoration: none;
}

.icon-links img {
	width: var(--icon-link-width);
	height: var(--icon-link-height);
	margin-top: 0.25em;
	object-fit: contain;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.icon-links img:hover {
	filter: opacity(85%);
}

/* TODO: use multiple sources instead? */
@media (prefers-color-scheme: light) {
	.icon-links img { filter: invert(); }
	.icon-links img:hover { filter: opacity(75%) invert(); }
}

.language-label {
	display: inline-block;
	padding: 5px 10px;
	border: solid 1px;
	border-radius: 10px;
	text-decoration: none;
	margin: 2px;
}

@media (prefers-color-scheme: light) {
	.language-label {
		box-shadow: 0 0 var(--language-label-shadow-radius) var(--language-label-shadow-color);
	}
}

footer {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.foreign-value { color: #a167e6; }
.local-value { color: #67b7a4; }
.value-declaration { color: #41a1c0; }

.foreign-type { color: #d0a8ff; }
.local-type { color: #9ef1dd; }
.type-declaration { color: #5dd8ff; }

.preprocessor-directive { color: #fd8f3f; }

.comment { color: #6c7986; }

.documentation {
	color: #6c7986;
	font-family: ui-rounded, system-ui, sans-serif;
}

.keyword {
	color: #fc5fa3;
	font-weight: bold;
}

.mark {
	color: #92a1b1;
	font-weight: bold;
}

.number { color: #d0bf69; }

.string { color: #fc6a5d; }

.bold { font-weight: bold; }
.not-bold { font-weight: normal; }

.terminal-grey   { color: var(--terminal-grey); }
.terminal-blue   { color: var(--terminal-blue); }
.terminal-red    { color: var(--terminal-red); }
.terminal-green  { color: var(--terminal-green); }
.terminal-yellow { color: var(--terminal-yellow); }
.terminal-purple { color: var(--terminal-purple); }
.terminal-pink   { color: var(--terminal-pink); }
.terminal-cyan   { color: var(--terminal-cyan); }

table {
	border: 1px solid var(--table-border-color);
	border-radius: 0.5rem;
	border-spacing: 0;
	overflow: hidden;
	margin-block-end: 1rem;
}

table.scrollable {
	display: block;
	overflow-x: scroll;
	text-wrap: nowrap;
}

table td.larger-cell {
	display: block;
	text-wrap: wrap;
}

@media screen and (width > 700px) {
	table td.larger-cell {
		min-width: 30ch;
	}
}

@media screen and (width <= 700px) {
	table td.larger-cell {
		min-width: 20ch;
	}
}

table.first-column-centered td:first-child {
	text-align: center;
}

.text-align-start {
	text-align: start;
}

th, td {
	padding: 0.5em;
}

th:not(:last-child), td:not(:last-child) {
	border-right: 1px solid var(--table-border-color);
}

th {
	border-bottom: 1px solid var(--table-border-color);
	background-color: var(--table-header-background-color);
}

tbody tr:not(:last-child) td {
	border-bottom: 1px solid var(--table-border-color);
}

summary {
	cursor: pointer;
}

