:root {
	color-scheme: light dark;
	--foreground-color: light-dark(black, #eee);
	--secondary-color: light-dark(grey, #bbb);
	
	--background-color: light-dark(white, #161a1c);
	
	--button-color: light-dark(#ddd, #555);
	--button-pressed-color: light-dark(lightgrey, #242e33);
	
	--link-color: light-dark(dodgerblue, deepskyblue);
	
	--highlight-border-color: deepskyblue; /* same light/dark */
	--highlight-background-color: light-dark(grey, #202020);
	
	--quote-border-color: deepskyblue; /* same light/dark */
	--quote-background-color: light-dark(#eee, black);
	
	--icon-link-width: 2rem;
	--icon-link-height: var(--icon-link-width);
	--icon-link-spacing: 1rem;
	
	--language-label-shadow-radius: 3px;
	--language-label-shadow-color: lightgrey;
	
	--tab-open-color: light-dark(#ccc, #303030);
	--tab-closed-color: light-dark(#ddd, #202020);
	--tab-corner-radius: 0.5rem;
}

/* some dummy code so noir can tell there's a dark mode */
@media (prefers-color-scheme: dark) {
	:root { --never-used: 0; }
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: ui-rounded, system-ui, sans-serif;
	margin: auto;
	max-width: min(100vw - 2rem, 90rch);
}

p {
	font-size: 1.125rem;
}

hgroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	* {
		margin-top: 0;
		margin-bottom: 0;
	}
}

img {
	width: 100%;
	
	&.very-thin {
		max-width: 10rem;
	}
	
	&.thin {
		max-width: 440px; /* the width of an iPhone Pro Max */
	}
	
	&.nearest {
		image-rendering: crisp-edges;
	}
	
	&.centered {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.ds-screenshot {
	max-width: 384px; /* 1.5x the size of the DS screen (256x192) */
	aspect-ratio: 4 / 3;
}

a {
	color: var(--link-color);
	text-decoration: underline; /* for links without hrefs */
	
	&:not(:any-link) {
		cursor: not-allowed;
		opacity: 0.6;
	}
	
	&:not(:any-link):active {
		pointer-events: none;
	}
	
	&.secret {
		color: currentColor;
		text-decoration: none;
	}
}

mark {
	color: var(--foreground-color);
	border: solid var(--highlight-border-color) 1.5px;
	border-radius: .25em;
	background-color: var(--highlight-background-color);
	padding: 0 .1em;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
	font-size: 75%;
	
	& > a {
		text-decoration: none;
	}
}

.secondary {
	color: var(--secondary-color);
}

.bold {
	font-weight: bold;
}

.text-align-center {
	text-align: center;
}

details {
	summary {
		cursor: pointer;
	
		h1, h2, h3, h4, h5, h6 {
			display: inline;
			margin-top: 0;
			margin-bottom: 0;
		}
	
	}
	
	&:has(summary h1),
	&:has(summary h2),
	&:has(summary h3),
	&:has(summary h4),
	&:has(summary h5),
	&:has(summary h6) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

tab-group {
	display: grid;
	grid-template-rows: auto 1fr;
	/* the min being 0 allows the grid to be smaller than its contents */
	grid-template-columns: repeat(var(--tabs), minmax(0, 1fr));
	row-gap: 0.5rem;
	margin-block-start: 1rem;
	margin-block-end: 1rem;
	
	& > details {
		display: grid;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
		grid-row: 1 / -1;
		grid-column: 1 / -1;
		
		& > summary {
			grid-row: 1;
			z-index: 1;
			padding: 0.3rem;
			min-height: 2rem;
			text-align: center;
			align-content: center; /* vertical alignment */
			list-style: none;
			
			/* fixes the focus outline being covered by the adjacent summary */
			&:focus {
				z-index: 2;
			}
			
			&:hover {
				filter: brightness(0.95);
			}
			
			&:active {
				transform: translateY(1px);
			}
		}
		
		&:first-child > summary {
			border-start-start-radius: var(--tab-corner-radius);
			border-end-start-radius: var(--tab-corner-radius);
		}
		
		&:last-child > summary {
			border-start-end-radius: var(--tab-corner-radius);
			border-end-end-radius: var(--tab-corner-radius);
		}
		
		&[open] > summary {
			background-color: var(--tab-open-color);
			font-weight: bold;
		}
		
		&:not([open]) > summary {
			background-color: var(--tab-closed-color);
			color: var(--secondary-color);
		}
		
		&:nth-child(1) > summary { grid-column: 1; }
		&:nth-child(2) > summary { grid-column: 2; }
		&:nth-child(3) > summary { grid-column: 3; }
		&:nth-child(4) > summary { grid-column: 4; }
		&:nth-child(5) > summary { grid-column: 5; }
		&:nth-child(6) > summary { grid-column: 6; }
		&:nth-child(7) > summary { grid-column: 7; }
		
		&::details-content {
			grid-row: 2;
			grid-column: 1 / -1;
		}
		
		/* normally, all details are at the same z-index, so selecting is broken */
		&[open]::details-content {
			z-index: 1;
		}
		
		&:not([open])::details-content {
			z-index: -1;
		}
		
		/* the tab-group normally wraps the margin into its size, preventing it from merging with adjacent elements */
		& > :last-child {
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}
}

ul {
	list-style-type: initial; /* every level of indentation should be the same */
	
	ul {
		padding-inline-start: 1.25em;
	}
	
	*:not(:last-child) {
		margin-bottom: 0.25em;
	}
}

blockquote {
	background-color: var(--quote-background-color);
	padding: 1em;
	border-left: solid var(--quote-border-color) .25em;
	margin: 0;
	
	& > *:first-child {
		margin-top: 0;
	}
	
	& > *:last-child {
		margin-bottom: 0;
	}
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 5px;
	border-style: none;
	transition: box-shadow 0.2s;
	font-size: 1rem;
	
	&:active {
		background-color: var(--button-pressed-color);
	}
}

icon-links {
	display: flex;
	gap: var(--icon-link-spacing);
	float: right;
	margin-left: var(--icon-link-spacing);
	
	a {
		text-decoration: none;
	}
	
	img {
		width: var(--icon-link-width);
		height: var(--icon-link-height);
		margin-top: 0.25em;
		object-fit: contain;
		transition-property: opacity;
		transition-duration: 0.2s;
		
		/* TODO: use multiple sources instead? */
		@media (prefers-color-scheme: light) {
			filter: invert();
		}
		
		&:hover {
			filter: opacity(85%);
			
			/* TODO: use multiple sources instead? */
			@media (prefers-color-scheme: light) {
				filter: opacity(75%) invert();
			}
		}
	}
}

footer {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

{%- render "code.css" -%}
{%- render "tables.css" -%}
{%- render "footnotes.css" -%}
