:root {
	--link-height: 1ex;
	--link-width: calc(1.75 * var(--link-height));
	
	--selected-reference-color: light-dark(
		deepskyblue,
		color-mix(in oklab, var(--foreground-color), deepskyblue 50%)
	);
}

.link {
	width: var(--link-width);
	height: var(--link-height);
	margin-bottom: calc((1cap - var(--link-height)) / 2);
	margin-left: 0.25ch;
	display: none;
	
	@media (prefers-color-scheme: light) {
		filter: invert();
	}
}

details > summary:hover .link,
hgroup:hover .link {
	display: inline;
}

hgroup {
	h1 {
		display: inline;
	}
	
	.link {
		font-size: 32px; /* the size of h1 */
	}
}

details {
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	& > summary {
		font-size: 24px; /* the size of h2 */
		/* height: 1lh; */
		
		& > strong {
			margin-left: 0.5rch;
		}
	}
	
	&[open] > summary {
		margin-bottom: 1rem;
	}
	
	&:target > summary {
		color: var(--selected-reference-color);
	}
}

img {
	border-radius: 0.5rem;
	
	&.thin {
		max-width: 440px; /* the size of an iPhone Pro Max */
	}
}

.twitter-tweet {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

iframe {
	width: 100%;
	aspect-ratio: calc(var(--width) / var(--height));
	height: auto;
}
