:root {
	--repo-border-color: light-dark(black, grey);
}

.repos {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 0.5rem;
	
	@media screen and (width <= 75rch) {
		grid-template-columns: auto;
	}
}

.repo {
	border: solid 1px var(--repo-border-color);
	border-radius: 15px;
	padding: 0.75em;
	
	& > p:not(.repo-link) {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}
}

.repo-link {
	margin-top: 0;
	margin-bottom: 0.5rem;
	
	a {
		text-decoration: none;
	}
	 
	img {
		vertical-align: bottom;
		width: 1lh;
		height: 1lh;
		object-fit: contain;
		margin-right: 0.25rem;
		
		&.mage-logo {
			border-radius: 25%;
		}
		
		@media (prefers-color-scheme: light) {
			&.github-logo, &.rss-logo {
				filter: invert();
			}
		}
	}
}

.trailing-margin {
	margin-inline-end: 0.5em;
}
