:root {
	--true-color: light-dark(#50c878, #50c878);
	--false-color: #f27464;
}

table {
	display: block;
	width: fit-content;
	max-width: 100%;
	overflow-x: scroll;
	border-spacing: 0;
	margin-block-end: 1rem;
	
	th {
		background-color: var(--table-header-background-color);
	}
	
	th, td {
		padding: 0.5em;
		
		border-right: 1px solid var(--table-border-color);
		border-bottom: 1px solid var(--table-border-color);
		
		&:first-child {
			border-left: 1px solid var(--table-border-color);
		}
		
		& > pre,
		& > p {
			margin: 0;
		}
		
		&.true {
			color: var(--true-color);
		}
		
		&.false {
			color: var(--false-color);
		}
	}
	
	/* top row */
	& > *:first-child > tr:first-child {
		& > * {
			border-top: 1px solid var(--table-border-color);
		}
		
		& > *:first-child {
			border-top-left-radius: 0.5rem;
		}
		
		& > *:last-child {
			border-top-right-radius: 0.5rem;
		}
	}
	
	/* bottom row */
	& > *:last-child > tr:last-child {
		& > *:first-child {
			border-bottom-left-radius: 0.5rem;
		}
		
		& > *:last-child {
			border-bottom-right-radius: 0.5rem;
		}
	}
}
