<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{ page.title }}</title>
		<link rel="icon" href="/images/logo-circle.png">
		<link rel="alternate" type="application/feed+json" title="JSON feed" href="/feed.json">
		
		<meta name="fediverse:creator" content="@simonomi@mstdn.social" >
		
		<meta name="theme-color" content="white" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#161a1c" media="(prefers-color-scheme: dark)">
		
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:type" content="article">
		{%- if page.data.previewImage -%}
			<meta property="og:image" content="{{ page.data.previewImage }}">
		{%- endif -%}
		<meta property="og:url" content="{{ site.base_url }}/{{ page.permalink }}">
		
		<meta property="article:author" content="{{ site.base_url }}">
		<meta property="article:published_time" content="{{ page.published_date | date: "%Y-%m-%dT%H:%M:%S%:z" }}">
		
		{%- if page.description and page.description != "" -%}
			<meta name="description" content="{{ page.description }}">
			<meta property="og:description" content="{{ page.description }}">
		{%- endif -%}
		
		<style>
			{%- render "main.css" -%}
			
			{%- if page.data.style -%}
				{%- assign styleFile = page.data.style | append: ".css" -%}
				{%- render styleFile -%}
			{%- endif -%}
		</style>
		
		{%- if page.data.script -%}
			<script>
				{%- assign scriptFile = page.data.script | append: ".js" -%}
				{%- render scriptFile -%}
			</script>
		{%- endif -%}
	</head>
	<body>
		<icon-links>
			<a href="/blog" title="blog">
				<img src="/images/blog.svg" alt="an icon meant to depict a blog">
			</a>
			
			<a href="/" title="home">
				<img src="/images/home.svg" alt="an icon of a home">
			</a>
		</icon-links>
		
		<hgroup>
			<h1><a class="secret" href="/blog/{{ page.slug }}">{{ page.title }}</a></h1>
			<p class="secondary">alice pellerin • {{ page.published_date | date: "%Y-%m-%d" }}</p>
		</hgroup>
		
		{{- page.content -}}
		
		<p class="text-align-center">entirely human-made,<br>please don't hesitate to <a href="https://github.com/simonomi/simonomi.github.io/issues">report a mistake</a> or <a href="https://github.com/simonomi/simonomi.github.io/edit/main/{{ page.file.permalink }}">suggest a fix</a>!</p>
		
		{%- assign discussionSites = "" | split: "" -%}
		
		{%- if page.data.mastodonURL -%}
			{%- capture newSite -%}<a href="{{ page.data.mastodonURL }}">Mastodon</a>{%- endcapture -%}
			{%- assign newSite = newSite | split: "notInTheOriginalString" -%}
			{%- assign discussionSites = discussionSites | concat: newSite -%}
		{%- endif -%}
		
		{%- if page.data.lobstersURL -%}
			{%- capture newSite -%}<a href="{{ page.data.lobstersURL }}">Lobsters</a>{%- endcapture -%}
			{%- assign newSite = newSite | split: "notInTheOriginalString" -%}
			{%- assign discussionSites = discussionSites | concat: newSite -%}
		{%- endif -%}
		
		{%- case discussionSites.size -%}
			{%- when 1 -%}
				<p class="text-align-center">discuss on {{ discussionSites[0] }}</p>
			{%- when 2 -%}
				<p class="text-align-center">discuss on {{ discussionSites[0] }} or {{ discussionSites[1] }}</p>
		{%- endcase -%}
		
		<footer>
			<small>© <time datetime="{{ "now" | date: "%Y" }}">{{ "now" | date: "%Y" }}</time> alice pellerin</small>
		</footer>
	</body>
</html>
