<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{%- if page.data.isBlogpost -%}
			{%- assign slug = page.name | split: "." | first -%}
			{%- assign post = site.data.posts | where: "slug", slug -%}
			<title>{{ post | map: "title" }}</title>
		{%- else -%}
			<title>{{ page.title }}</title>
		{%- endif -%}
		<link rel="icon" href="/images/logo-circle.png">
		<link rel="alternate" type="application/feed+json" href="/feed.json"/>
		
		{%- if page.description and page.description != "" -%}
			<meta name="description" content="{{ page.description }}">
		{%- endif -%}
		
		<style>
			/* TODO: minify css (and html ideally) */
			{%- render "main.css" -%}
			
			{%- if page.data.style -%}
				{%- assign styleFile = page.data.style | append: ".css" -%}
				{%- render styleFile -%}
			{%- endif -%}
		</style>
		
		{%- if page.data.script -%}
			<script>
				{%- assign scriptFile = page.data.script | append: ".js" -%}
				{%- render scriptFile -%}
			</script>
		{%- endif -%}
	</head>
	<body>
		{{- page.content -}}
		{%- unless page.data.nofooter -%}
		<footer>
			<small>© <time>{{ "now" | date: "%Y" }}</time> alice pellerin</small>
		</footer>
		{%- endunless -%}
	</body>
</html>
