<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{ page.title }}</title>
		
		{%- if page.data.icon -%}
			<link rel="icon" href="/images/{{ page.data.icon }}">
		{%- else -%}
			<link rel="icon" href="/images/logo-circle.png">
		{%- endif -%}
		
		{%- if page.data.touchIcon -%}
			<link rel="apple-touch-icon" href="/images/{{ page.data.touchIcon }}">
		{%- endif -%}
		
		<link rel="alternate" type="application/feed+json" title="JSON Feed" href="/feed.json">
		
		<meta name="fediverse:creator" content="@simonomi@mstdn.social" >
		
		<meta name="theme-color" content="white" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#161a1c" media="(prefers-color-scheme: dark)">
		
		{%- if page.permalink == "" or page.permalink == "index.html" -%}
			<meta property="og:title" content="{{ page.title }}">
			<meta property="og:type" content="profile">
			<meta property="og:url" content="{{ site.base_url }}">
			
			<meta property="profile:first_name" content="alice">
			<meta property="profile:last_name" content="pellerin">
			<meta property="profile:username" content="simonomi">
			<meta property="profile:gender" content="female">
		{%- endif -%}
		
		{%- if page.description and page.description != "" -%}
			<meta name="description" content="{{ page.description }}">
			
			{%- if page.permalink == "" or page.permalink == "index.html" -%}
				<meta property="og:description" content="{{ page.description }}">
			{%- endif -%}
		{%- endif -%}
		
		<style>
			{%- render "main.css" -%}
			
			{%- if page.data.style -%}
				{%- assign styleFile = page.data.style | append: ".css" -%}
				{%- render styleFile -%}
			{%- endif -%}
		</style>
		
		{%- if page.data.script -%}
			<script>
				{%- assign scriptFile = page.data.script | append: ".js" -%}
				{%- render scriptFile -%}
			</script>
		{%- endif -%}
	</head>
	<body>
		{{- page.content -}}
		
		{%- unless page.data.nofooter -%}
		<footer>
			<small>© <time>{{ "now" | date: "%Y" }}</time> alice pellerin</small>
		</footer>
		{%- endunless -%}
	</body>
</html>
